#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
  font-size: 5pt;
  zoom:300%;
  color:#939393

}
.label {
  padding-left: 4px;
  color:white;
  text-align: left;
  font-size: 5pt;
}
.header {
  zoom:70%;
  position: absolute; 
  top: 1vh;
  left: 50%;
  transform: translate(-50%);
}
.searchBar {
  width: 400px;
  
  display: flex;
}
.inputGroup {
  background-color: #444444;
  height: 30px;
  display: grid;
  align-items: flex-end;
}
.selectGroup {
  padding-left: 10px;
  padding-right: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.formButton {
  outline:none;
  border:none;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  background: #444444;
  width: 50px;
  height: 30px;
  color:rgb(77, 109, 223);
  font-size: x-small;
  border-radius: 0;
  text-align: left;
  padding-right: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.select {
  width: 100px;
  background: none;
  text-align: left;
  color: #808080;
  height: 100%;
  border: 0;
  font-size: 6pt;
}
#fadeComponent {
  transition: opacity 0.5s ease-in-out;
}
input {
  border-color: #b1b1b1;
  background: none;
  border-width: 0px 0px 0px 1px;
  width: 235px;
  background-color: #444444;
  height: 100%;
  color:white;
  font-size: 6pt;
  padding-left: 5px;
}
.stack {
  display: grid;
}
.linear {
  display: flex;
}
.matchPlayerName {
  font-size: 3.5pt;
}
.mainChampionIcon {
  border-radius: 15px;
  margin-right: 2px;
  width: 20px;
  height: 20px;
}
.matchChampionsIcon {
  width: 7px;
  height: 7px;
}
.item { 
  height: 12px;
  width: 12px;
}


.itemsList {
  margin-left: 15px;
}
.teamList {
  width: 40px;
  margin-top: -1px;
  margin-right: 2px;
  padding-top: 1px;
}
.level {
  display: flex;
  font-size: 4pt;
  color:white;
  width: 7px;
  height: 7px;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 48, 47);
  border-radius: 15px;
  margin-right: -18px;
  margin-left: 25px;
  margin-top: 14px;
  z-index: 1000;
}
.summonerSpellIcon {
  width: 11px;
}
.entry {
  width: 250px;
  height: 37px;
  background-color: #808080;
  margin-bottom: 3px;
}
.outputDuration {
  font-size: 5pt;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
.duration {
  width:25px;
}
.noMargin {
  margin: 0;
  padding: 0;
}
.score {
  color:white;
  width: 50px;
  padding-left: 7px;
  text-align: center;
}
.loading {
  width: 30px;
  position: relative;
  top : 50%;
}
.bigger {
  width: 150px;
}
.selectedPlayer {
  color:white;
}
.victoryEntry{
  background-color: #28344E;

  .emptyItem {
    padding: 6px;
    background-color:#2F436E;
    border-radius: 2px;
  }
  .outputText {
    font-size: 5pt;
    color:#5383E8;
  }
  .padding {
    background-color: #4171D6;
  }
}
.defeatEntry {
  background-color: #59343B;

  .emptyItem {
    padding: 6px;
    background-color: #703C47;
    border-radius: 2px;
  }
  .outputText {
    font-size: 5pt;
    color:red;
  }
  .padding {
    background-color: rgb(255, 31, 91);
  }
}

input:focus {
  outline:none;
}
select:focus {
  outline:none;
}
.formButton:focus {
  outline: none;
}
.formButton:disabled {
  color:grey;
}
