#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
  font-size: small;

}
.td {
  text-align: left;
}
.EmptyItem {
  width: 4.5vw;
  position: relative;
  background-color: black;
  border-color: magenta;

}
.Items {
  width: 40vw;
}
.Header {
  position: relative;
  top: 0;
  width: 100%;
}
.Level {
  color:black;
  width: 2vw;
  height: 4.4vh;
  background-color: blue;
  position: absolute;

  
}
.Summs {
  display: grid;

}
.Sum {
  width: 3vw;
  height: 6.5vh;
}
.Score {
  width: 30vw;
  font-size: small;
}
.Victory {
  color:limegreen;
}
.Defeat {
  color:red;
}

.SearchBar {
  overflow: hidden;
  padding-left: 2vw;
  padding-right: 2vw;
  padding: 1vw 1vh;
  height: 6vh;
  width: 50vw;
  align-items: center;
  justify-content:center;
  background-color: #bbb;
  border-radius: 40%;
  display: flex;                                                                                            
  
}
.ChampSumms {
  display: flex;
}
.Label {
  text-align: left;
  font-size: small;
  margin-bottom: 2%;
}
.Select {
  margin-right: 6vb;
  text-align: left;
  width: 100%;
}
.InputGroup {
  margin-right: 5%;
  margin-bottom: 1%;
  display: grid;
  align-items: center;
}
.hidden {
  display: none;
}
.FormButton {
  background: none;
  color:black;
  font-size: small;
  border-radius: 0;
  height:200%;

}
.Champion {
  width: 8vw;
  height: 13vh;
}
.Item {
  width: 4.5vw;

}
.Entry {
  background-color: aqua;
}
select {
  background: none;
  border: 0;
  height: 140%;
  text-align: center;
  color:black;

}
input {
  padding-left:4%;
  margin-left : -5%;
  background: none;
  border-top: 0px;
  border-bottom: 0px;
  background-color: #bbb;
  height: 100%;
  color:black;
}
button {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 25%;
}
table {
  width: 80vw;
}
tr {
  width: 80vw;
}
td {
  width: 10vw;
}
